body {
    background-image: url(/image/bg.webp);
    font-family: Helvetica, Arial, sans-serif;
}

main {
    color: wheat;

}

.container {
    margin-top: 25vh;
}

.gagnePerdu {
    margin: auto;
    background-color: transparent;
    text-align: center;
}

.textTall {
    font-size: 2rem;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.score {
    display: flex;

}

.selection {
    display: flex;
}

.selection button {
    margin: 20px;
    padding: 0.7rem;
    font-size: 3rem;
    border: 5px solid black;
    border-radius: 45%;
    background-color: rgb(14, 29, 124);
    color: whitesmoke;
}


.selection button:hover {
    background-color: yellowgreen;
    color: black;
}

.selection button:active {
    background-color: azure;

}